@{
    ViewData["Title"] = "Home Page";
}

<app></app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
  
}
