<stockheader></stockheader>

<div>
    <img id="loadingGif" style="vertical-align: middle;margin: auto; display: block; width: 150px; margin-top: 65px;" src="http://fondi.anthilia.it/wp-content/plugins/tca-charts/includes/loading.gif" />
    <stockchart [initialStocksValue]=this.initialStocks [stocksValue]=this.stocks [chartName]=this.routeName></stockchart>
</div>


<br />
<br />

<stocktable [stocksValue]=this.stocks></stocktable>
