<table class="table table-responsive table-dark table-hover">
    <thead>
        <tr>
            <th>Stock</th>
            <th>Name</th>
            <th>Value</th>
            <th>Closing V.</th>
            <th>Capital</th>
            <th>Day</th>
            <th>Date</th>
        </tr>
    </thead>


    <tbody *ngIf="this.stocksValue != null">
        <tr *ngFor="let stock of this.stocksValue;" [style.background-color]="stock.style">
            <td><a [routerLink]="['/stocks/detail/',stock.title]">{{ stock.title }}</a></td>
            <td>{{ stock.fullName }}</td>
            <td>{{ stock.currentValue | CurrencyNotationPipe }} </td>
            <td>{{ stock.closingValue | CurrencyNotationPipe }}</td>
            <td>{{ stock.capital | CurrencyNotationPipe }}</td>
            <td>{{ stock.dayDiff | DailyDiffPipe }}</td>
            <td>{{ stock.lastUpdated }}</td>
        </tr>
    </tbody>
</table> 