﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiveStockMarket</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link href="~/assets/css/please-wait.css" rel="stylesheet">
</head>
<body>

    <script type="text/javascript" src="~/assets/js/please-wait.min.js"></script> 

    <script type="text/javascript">
        window.loading_screen = window.pleaseWait({
            logo: "/assets/i/logo.png",
            backgroundColor: '#000000',
            loadingHtml: "<br /><br /><p class='loading-message' style='font-size: 13px;color: white;margin-bottom:10px;'>Loading, please wait...</p> <br />" +
                '<div class="sk-spinner sk-spinner-fading-circle sk-fading-circle">  <div class="sk-circle1 sk-circle"></div>  <div class="sk-circle2 sk-circle"></div>  <div class="sk-circle3 sk-circle"></div>  <div class="sk-circle4 sk-circle"></div>  <div class="sk-circle5 sk-circle"></div>  <div class="sk-circle6 sk-circle"></div>  <div class="sk-circle7 sk-circle"></div>  <div class="sk-circle8 sk-circle"></div>  <div class="sk-circle9 sk-circle"></div>  <div class="sk-circle10 sk-circle"></div>  <div class="sk-circle11 sk-circle"></div>  <div class="sk-circle12 sk-circle"></div></div>'
        });
    </script>

    @RenderBody()

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        (function () {
            setTimeout(function () { window.loading_screen.finish(); }, 200)
        })();
    </script>
</body>
</html>
