<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/']">Live Stock Market</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
  
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/stocks']">
                        <span class='glyphicon glyphicon-th-list'></span> Stocks
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/stocks/CryptoCurrency']">
                        <span class='glyphicon glyphicon-btc'></span> CryptoCurrency
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/stocks/Currency']">
                        <span class='glyphicon glyphicon-euro'></span> Currency
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/stocks/PSI20']">
                        <span class='glyphicon glyphicon-globe'></span> PSI-20
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/stocks/Top']">
                        <span class='glyphicon glyphicon-sort'></span> Top-5 Up & Downs
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/search']">
                        <span class='glyphicon glyphicon-search'></span> Search
                        <!--&nbsp; &nbsp; &nbsp;-->
                        <!--<select style="width: 200px;color: grey;">
                <option selected>Select...</option>
                <option value="1">Gold</option>
                <option value="2">Silver</option>
                <option value="3">Bronze</option>
                <option value="4">Bitcoin</option>
                <option value="5">Ethereum</option>
            </select>-->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
