<!--<stockheader [routeName]="'Top 5 Up & Downs'"></stockheader>

<br />
<br />
<h2>Up</h2>
<stocktable [stocksValue]=this.stocks></stocktable>

<br />
<br />
<h2>Down</h2>
<stocktable [stocksValue]=this.stocksReverted></stocktable>-->
